In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv("Social_Network_Ads.csv")
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
dummies = pd.get_dummies(df["Gender"])
merged = pd.concat([df, dummies], axis='columns')
df = merged.drop(["Female", "Gender"], axis='columns')
df.head()

    User ID  Age  EstimatedSalary  Purchased  Male
0  15624510   19            19000          0     1
1  15810944   35            20000          0     1
2  15668575   26            43000          0     0
3  15603246   27            57000          0     0
4  15804002   19            76000          0     1

In [5]:
df.isnull().sum()

User ID            0
Age                0
EstimatedSalary    0
Purchased          0
Male               0
dtype: int64

In [6]:
x=df.iloc[:,:-1]
y=df['Purchased']

In [7]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.3)

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [9]:
from sklearn.linear_model import LogisticRegression
lg=LogisticRegression()
lg.fit(x_train,y_train)

LogisticRegression()

In [10]:
prediction_x_test = lg.predict(x_test)
prediction_x_test

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0])

In [11]:
prediction_x_train = lg.predict(x_train)

In [12]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(accuracy_score(y_test,prediction_x_test))

1.0

In [13]:
print(confusion_matrix(y_test,prediction_x_test))

[[76  0]
 [ 0 44]]

In [14]:
print(classification_report(y_test,prediction_x_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        76
           1       1.00      1.00      1.00        44

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120